# Ignore a blackhole and the folder for development
node_modules/
.vs/

# Environment Variables
.DS_Store
.env.local
.env.development.local

# Ignore bwd folders
dist/bwd/

# Ignore the dist output
dist/

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml
