import { AlestraClientOptions } from './src/lib/Alestra';

// Remove `.example` from the file extension to configure Alestra

export const CLIENT_OPTIONS: AlestraClientOptions = {
	commandEditing: true,
	commandLogging: false,
	commandMessageLifetime: 200,
	consoleEvents: { verbose: true },
	customPromptDefaults: { limit: 5 },
	dev: false,
	messageCacheLifetime: 200,
	messageCacheMaxSize: 25,
	messageSweepInterval: 100,
	prefix: 's.',
	presence: { status: 'online', activity: { type: 'LISTENING', name: 'Alestra, help' } },
	regexPrefix: /alestra[,!]/i,
	typing: true,
	pieceDefaults: {
		commands: { deletable: true },
		monitors: { ignoreOthers: false }
	}
};

export const TOKEN = '< BOT TOKEN GOES HERE >';
export const SIZES = {
	WIDTH: 1500,
	HEIGTH: 1500
};
